<!DOCTYPE html>
<html lang="en" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layouts/authLayout}">
<head>
    <meta charset="UTF-8">
    <title layout:fragment="title">Login</title>
</head>
<body>
<div class="d-flex justify-content-center align-items-center" layout:fragment="content">
    <div class="col-6" id="resetPasswordForm">
        <form th:action="@{/auth/password/reset}" method="post">
            <div class="form-header d-flex flex-column justify-content-center align-items-center mb-3">
                <h1 class="mb-3">Reset Password</h1>
                <p>Please set your new password</p>
            </div>
            <div>
                <span class="text-success" th:if="${message}" th:text="${message}"></span>
            </div>
            <input type="hidden" name="token" th:value="${token}">
            <input type="hidden" name="userId" th:value="${userId}"/>
            <div class="d-flex justify-content-between align-items-center">
                <label for="password" class="form-label">Password</label>
                <input type="password" class="form-control" id="password" name="password">
                <i class="bi bi-eye-slash" id="togglePassword"></i>
            </div>
            <div class="mb-3">
                <span id="passwordError" class="invalid-input-user text-danger"></span>
            </div>
            <div class="d-flex justify-content-between align-items-center">
                <label for="confirmPassword" class="form-label">Confirm Password</label>
                <input type="password" class="form-control" id="confirmPassword" name="confirmPassword">
                <i class="bi bi-eye-slash" id="toggleConfirmPassword"></i>
            </div>
            <div class="mb-3">
                <span id="confirmPasswordError" class="invalid-input-user text-danger"></span>
            </div>
            <div class="pt-3 mb-3 d-flex justify-content-center">
                <button type="submit" class="btn btn-secondary">Reset</button>
            </div>
        </form>
    </div>
</div>
</body>
</html>